
.container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.2rem;
    background-color: #264ab1;
    color: #deb851;
    /* position: fixed; */
    width: 100%;
    /* position: absolute; */
    /* position: sticky; */
}


.image{
    width: 3rem;
    height: 3rem;
}

.cart{
    width: 2rem;
    height: 2rem;
    /* color: white; */
    /* fill: white; */
}

nav ul{
    /* border: 2px solid yellow; */
    display: flex;
    gap: 3rem;   
}

nav ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    color: #deb851;

}

nav ul li a:hover,
nav ul li a.active{
    color: white;
    text-decoration: underline;
}

